@model AttendanceTracker.Models.API.APIGroup

@{
	ViewData["Title"] = "View";
	var dbCtx = ViewBag.DbCtx as DbCtx;
}

@section Scripts
{
	<script src="~/js/crudutil.js"> </script>
}

<h1>View</h1>

<!-- Modal -->
<div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<form id="inputForm_edit">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Edit group</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					@Html.EditorFor((e) => e)
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" onclick="ChangeCrudObj('inputForm_edit','Group')" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Create group</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="inputForm_create">
					@Html.EditorFor((e) => e)
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" onclick="CreateCrudObj('inputForm_create','Group')" type="submit" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>

<script>

</script>

<p>
	<a asp-action="Create" class="btn btn-primary" data-toggle="modal" data-target="#createGroupModal">Create New</a>
</p>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in dbCtx.Groups.OrderBy(g => g.Name))
		{
			<tr>
				<td>
					@item.Name
				</td>
				<td class="border border-danger border-2">
					<!-- Button trigger modal -->
					<button type="button" onclick="LoadCrudObj('inputForm_edit', 'Group', '@item.Id')" class="btn btn-primary" data-toggle="modal" data-target="#editGroupModal">
						Edit
					</button>
					<a asp-action="Details" asp-route-id="@item.Name">Details</a> |
					<button type="button" onclick="DeleteCrudObj('Group', '@item.Id')" class="btn btn-danger">
						Delete
					</button>
				</td>
			</tr>
		}
	</tbody>
</table>
